Source: wmsysmon
Section: x11
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), libx11-dev, libxext-dev, libxpm-dev
Standards-Version: 3.9.6

Package: wmsysmon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WindowMaker dock-app for monitoring your system
 wmsysmon is a dockable application for WindowMaker (and possibly Afterstep).
 It monitors Memory, Swap, Disk IO, uptime and interrupts.
